html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: black;
}


.tile {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  background-color: black;
}

.pacman {
  background-image: url('../images/mizpacman.png');
}

.left {
  background-image: url('../images/mizpacman-left.png');
}

.up {
  background-image: url('../images/mizpacman-up.png');
}

.down {
  background-image: url('../images/mizpacman-down.png');
}

.wall {
  background-color: blue;
  border: 2px solid cornflowerblue;
}

.coin {
  background-color: yellow;
  border-radius: 50%;
  transform: scale(0.3);
}
