
.tile {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  background-color: black;
}

.pacman {
  background-image: url('../images/pacman.png');
}

.left {
  background-image: url('../images/pacman-left.png');
}

.up {
  background-image: url('../images/pacman-up.png');
}

.down {
  background-image: url('../images/pacman-down.png');
}

.wall {
  background-image: url('../images/wall.png');
}

.coin {
  background-image: url('../images/coin.png');
}

.ground {
  background-image: url('../images/bg.png');
}
